<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> <%= title %> </title>
  
  <!--CSS Section-->
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
</head>

<body>

  <!--Main Content-->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1>About Me</h1>
        <p>Welcome to <%= title %></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aliquam perspiciatis debitis, aperiam soluta dicta officiis excepturi eius quos fugit quis rem odio necessitatibus magni voluptas molestias aliquid dignissimos, error numquam ullam voluptatibus enim sequi? Explicabo quia tempora magnam sapiente nemo vel eaque aut quis fuga id dolores reprehenderit quisquam impedit eos repudiandae autem similique sit tempore, alias distinctio fugit. Maiores eos consectetur incidunt possimus at saepe laborum modi velit quis reprehenderit excepturi ipsam ad debitis blanditiis odio, aliquam omnis assumenda eum nesciunt, porro error ratione pariatur. Magnam libero, tempora quos deleniti laudantium, necessitatibus odio ipsum, debitis quae, vitae accusamus. Esse voluptatibus incidunt ipsa eos quisquam, optio molestias reiciendis atque, vel cupiditate ab eveniet facilis, omnis voluptates ex laboriosam doloremque suscipit. Vero magni alias eaque similique ad culpa a assumenda, est explicabo exercitationem quibusdam aspernatur consequuntur, laborum odio nesciunt, magnam nostrum! Distinctio, corporis, eius. Officiis libero dolore atque quam doloribus quae est quod cupiditate quo deserunt, quibusdam sed accusantium veniam ipsa sit tempore expedita non dolorem animi deleniti eum, obcaecati voluptatum odit ea. Unde sapiente quidem reiciendis saepe dignissimos, iusto quis ipsa officiis alias fugiat sit esse repellat quod recusandae nisi voluptate dolores ipsum dicta, beatae sunt ea inventore expedita adipisci architecto iure. Dolorum commodi possimus error distinctio modi odio culpa, laudantium est accusantium magnam similique blanditiis. Quaerat debitis minus beatae? Architecto praesentium doloribus debitis quas magnam. Dolor, est, quaerat. Vitae sit, voluptatem tempora, necessitatibus nobis, impedit aut quasi maxime perferendis reiciendis, accusantium veniam quos. Quaerat dolor incidunt libero ut, nihil fuga, minus quod voluptates quibusdam temporibus in enim facilis voluptatibus quas nesciunt officia natus. Atque rerum perspiciatis, dolores cum hic assumenda dolor quod iusto labore eveniet quia optio saepe voluptate, pariatur eum ipsum unde possimus est deleniti sit enim illo nisi porro id amet! Omnis voluptas eos vero optio excepturi ipsum! Accusamus accusantium officia tempore aperiam dicta, commodi quas rem, alias eaque dignissimos assumenda, odio facilis doloremque nisi quasi esse, eum quos voluptas aut quibusdam autem! Pariatur dolor repellat, earum autem soluta quibusdam natus amet, provident, maiores doloremque commodi vel necessitatibus culpa magnam praesentium ducimus omnis, sint aliquid. Sint molestiae aliquid neque mollitia. Ipsum voluptates illum minima facere quia debitis assumenda laudantium, quod, magnam ex, architecto cum deserunt quasi tenetur rem iure, voluptas quidem eos. Deleniti nobis veritatis tenetur quas blanditiis magnam dignissimos rerum, sint placeat quisquam incidunt magni, esse aliquam pariatur, ad quos ipsa. Dignissimos, nobis tempore dolorem.</p>
      </div>
    </div>
  </div>

<!--JAVASCRIPT SECTION-->
<script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>

</html>