<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> <%= title %> </title>
  
  <!--CSS Section-->
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
</head>

<body>

  <!--Main Content-->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1>Contact</h1>
        <p>Welcome to <%= title %></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut exercitationem magni laudantium, tempora commodi possimus rem quaerat et fugit asperiores temporibus fuga earum est mollitia vel accusantium qui dolore inventore ipsam doloremque placeat quae eaque, eius odit! Soluta sunt, autem provident nemo ipsum quae animi dolor eos cum ad placeat porro natus repellat eum sequi quis error iste! Ex, quidem minus, ea esse modi quasi dolorem tempora accusamus porro ullam magnam possimus, amet natus ducimus delectus. Error debitis modi mollitia fuga sit amet animi officia vero aut ratione, quibusdam repudiandae, recusandae, fugit quo hic tempore eos? Voluptatum quisquam ipsam in iste nostrum sit vero dolorum consequuntur eius laudantium temporibus suscipit cumque ipsum minus quas perspiciatis, ipsa eos magnam. Labore blanditiis nemo nulla eos autem earum id minus sit, molestias modi neque possimus obcaecati dolor aperiam. Placeat, recusandae. Qui, repudiandae blanditiis atque recusandae harum nam facilis voluptate tempora, doloribus provident placeat vero nemo mollitia excepturi a illo distinctio. Vel nihil inventore placeat suscipit neque, repellendus eum veniam dicta pariatur maiores temporibus cum! Tenetur distinctio quisquam reiciendis explicabo vitae. Necessitatibus iure eaque odit, enim consequuntur nam reprehenderit autem asperiores deserunt. Rem aperiam sit numquam nam, dolor eveniet, repellendus facere ducimus ullam odio placeat voluptate aspernatur delectus voluptatibus provident unde eum dolorum accusamus maxime consectetur, ex possimus incidunt! Vitae animi iusto enim debitis sequi hic perspiciatis perferendis accusantium autem, repellat temporibus et illum ex? Eum pariatur officia saepe itaque doloribus ad facere ab quidem beatae sed asperiores enim harum ex laboriosam dolorum aut minus, exercitationem sint voluptatibus maxime possimus minima, unde at. Eos, impedit totam quaerat consectetur delectus laboriosam tempore est, eius nam quas incidunt, quam provident dolores architecto ipsam ullam fugit? Quisquam, id dolore! Beatae dolorum ipsam assumenda, maxime consequuntur doloremque corrupti, error sunt sit possimus incidunt et totam eos. Pariatur maxime laudantium facilis deserunt molestiae excepturi consequatur, dolores nulla assumenda odit dolor minima voluptates a! Adipisci expedita soluta at fugit optio illum saepe, odio alias harum magni molestias temporibus quo totam atque velit voluptas similique rerum magnam delectus excepturi eos. Molestias autem quod nihil nostrum vitae id pariatur placeat. Laboriosam architecto rem eligendi, harum pariatur? Doloremque vel delectus ullam rerum dolorem magnam! Dolor culpa libero aperiam, voluptate nemo, vitae ullam saepe quo, quia possimus quasi ipsa ipsum, ipsam tenetur totam deserunt. Earum reiciendis consequatur, vel corporis quae accusantium, quisquam iste laudantium illum deserunt quia, fuga doloribus dolorum autem magnam, ducimus voluptate.</p>
      </div>
    </div>
  </div>

<!--JAVASCRIPT SECTION-->
<script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>

</html>