<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> <%= title %> </title>
  
  <!--CSS Section-->
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
</head>

<body>

  <!--Main Content-->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>
        <p>Welcome to the Home Page</p>
        <p>The time is: <%= date %> </p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi nobis, maiores nemo quaerat itaque. Rerum sunt quas eligendi nostrum beatae facilis illum culpa, molestias laboriosam, esse molestiae deleniti eum dolore? Sunt debitis voluptas voluptates sit ab labore reprehenderit officiis, minima, ullam nisi consequatur modi pariatur eum. Rem saepe laboriosam impedit reiciendis minima quidem nesciunt, quibusdam distinctio! Officiis, delectus commodi corrupti dolore ea distinctio at. Ea quasi, vero inventore nesciunt non minima magnam quam ratione! Natus id dolore mollitia, fuga eum ut ab reprehenderit, consequatur necessitatibus molestiae voluptas, sint ipsam. Quisquam quae adipisci quidem vitae! Corporis libero consectetur quas eius? Eveniet facere, veniam amet, suscipit vitae sint eos culpa! Deserunt odio, nobis recusandae voluptas nemo neque sit laboriosam voluptatem commodi, alias, a. Consequatur doloremque repellat, vel tenetur possimus autem ut rerum pariatur deleniti accusantium iure delectus molestias eum modi aut vitae facere mollitia vero provident excepturi fugiat eveniet reiciendis obcaecati! Iure nostrum alias inventore, vero a debitis, possimus illum quisquam, fugiat labore quaerat, deserunt! Laudantium voluptate natus quae animi perferendis nostrum autem, cupiditate sapiente adipisci nihil nesciunt quo recusandae accusantium magnam. Nostrum ipsam eos perferendis similique iure enim neque nam, tempore hic quas accusantium error a, laudantium vero. Praesentium, pariatur, ullam.</p>
      </div>
    </div>
  </div>

<!--JAVASCRIPT SECTION-->
<script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>

</html>